@{
    ViewData["Title"] = "سبد خرید خالی";
}

<div class="text-center mt-5 mb-5">
    <h2>سبد خرید شما خالی است!</h2>
    <img src="~/images/empty-cart.png" height="300" />
    <p>برای شروع، به <a class="btn btn-danger" asp-action="AllBook" asp-controller="Books">صفحه کتاب‌ها</a> بروید</p>
</div>